<section class="contact-us container">
     <div class="contact-us__social-media">
          <span class="icon-container">
               <svg class="icon">
                    <use xlink:href="/assets/images/svg-sprite.svg#whatsapp"></use>
               </svg>
          </span>
          <span class="icon-container">
               <svg class="icon">
                    <use xlink:href="/assets/images/svg-sprite.svg#telegram"></use>
               </svg>
          </span>
          <span class="icon-container">
               <svg class="icon">
                    <use xlink:href="/assets/images/svg-sprite.svg#instagram"></use>
               </svg>
          </span>
     
     </div>
     <div class="contact-us__info";>
          <div class="icon-holder">
               <span class="icon-holder__label">shayantavousi@gmail.com</span>
               <span class="icon-container">
                    <svg class="icon">
                         <use xlink:href="/assets/images/svg-sprite.svg#message"></use>
                    </svg>
               </span>
          </div>

          <div class="icon-holder">
               <span class="icon-holder__label">۹۸۹۱۲۸۹۸۰۰۷۸+</span>
               <span class="icon-container">
                    <svg class="icon">
                         <use xlink:href="/assets/images/svg-sprite.svg#whatsapp"></use>
                    </svg>
               </span>
          </div>

          <div class="icon-holder">
               <span class="icon-holder__label"
                    >زعفرانیه، پسیان، باغستان دوم، کوچه منصور ۲، پلاک ۱۲، واحد ۵</span
               >
               <span class="icon-container">
                    <svg class="icon">
                         <use xlink:href="/assets/images/svg-sprite.svg#location"></use>
                    </svg>
               </span>
          </div>
     </div>
     <div class="contact-us__map";>
     <img src="/assets/images/Screenshot 2023-04-26 223825.png" alt="shayan">
     </div>
     <div class="contact-us__form" ;>
          <div class="form-wrapper">
               <h3>نظرات شما</h3>
               <form>
                    <input type="text" placeholder="نام و نام خانوادگی"></input>
                    <input type="email" placeholder="ایمیل خود را وارد کنید" dir="ltr"></input>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                    <button type="submit" class="btn btn--primary">ثبت نظر</button>
               </form>
          </div>
     </div>
</section>