<header class="main-header">
    <nav class="navbar container">
         <a href="" class="navbar-logo">
              <img src="/assets/images/logo.svg" alt="" />
         </a>
         <div class="navbar-toggler">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
         </div>
         <ul class="list navbar__list">
              <li class="navbar-item"><a href="">وبلاگ</a></li>
              <li class="navbar-item"><a href="">فرصت&zwnj;های شغلی</a></li>
              <li class="navbar-item"><a href="">تپسی&zwnj;پک</a></li>
              <li class="navbar-item"><a href="">امور سهام</a></li>
              <li class="navbar-item"><a href="">پشتیبانی</a></li>
              <li class="navbar-item"><a href="">ویدیوها</a></li>
              <button class="btn btn--primary">دانلود تپسی</button>
         </ul>
    </nav>
</header>
<script src="/js/main.js"></script>